<div class="booyah-box col-xs-10 col-xs-offset-1">
	<% if @invite.for_spouse? %>
	Invite Spouse

	<% elsif @invite.for_sitter? %>

	Invite Sitter

	<% end %>

	<%= simple_form_for @invite  do |f| %>
		<%= f.hidden_field :invite_kind %>
		<%= f.input :email, :hint => 'Email'  %>
		<%= f.submit 'Send Invite', :class=>"btn btn-primary" %>

	<% end %>
</div>