<div class="homepage">
	<div class="text-vertical-center">
          
      <h3><%= link_to 'Get Started', new_user_registration_path, :class => 'btn btn-lg btn-primary' %></h3><br />
      <h5>Existing Users</h5>
      <h3><%= link_to 'Sign In', new_user_session_path, :class => 'btn btn-default' %></h3>
    </div>
</div>