    
    <div id="wrapper">
        
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            <a id="menu-toggle" href="#">
               <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>
            </a>
                <li class="sidebar-brand">
                </li>
                <h3><li><%= link_to 'HOME', root_path %></li></h3>
                <h3><span style="padding-left: 12px;">ABOUT</span></h3>
                <li>
                    <a href="#ourmission">OUR MISSION</a>
                </li>
                <li>
                    <a href="#ourstory">OUR STORY</a>
                </li>
                <li>
                    <a href="#contactus">CONTACT US</a>
                </li>
            </ul>
        </div>
       
        <div id="page-content-wrapper">
           <div class="homepage">
          </div>              
      </div>
       
    </div>
  
    <!-- /#wrapper -->
    <section id="ourmission" class="bg-primary-light ">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>OUR MISSION</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6">
                        <h3>Provide peace of mind to parents & help trusted cared providers.</h3>
                                <p>Kidfo gives parents a template to store all their kids morst important info in one profile.  This ensures nothing is forgotten whether their child is staying with Grandpa & Grandma or going to daycare -> the quality of care is consistent with the parents wishes, or at least communicated!</p>
                                <p>Kidfo provides support to trusted care providers by allowing them to check in with the childs needs and parents wishes before showing up.</p>
                                <a href="#" class="btn btn-ghost btn-square btn-primary waves-effect">Learn More</a>
                                <br /><br /><br /><br />
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <section id="ourstory" class="ourstory">
        <div class="container ">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1 opaquebox">
                    <h2>OUR STORY</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6 "><br /><br />
                            <p>They say starting a business is like having a baby, this is true and this is our story.  Twins run in our family, so, when we found out we were having just one baby girl we were a bit surprised, relieved, and sad all at the same doctors visit. </p>

							<p>Our daughter was born in July 2016 and Kidfo was born just 3 short months later, making them irish twins. </p>

							<p>Having our daughter made us realize there is nothing more valuable than the care, protection and well being of your child.  Kidfo was conceived out of the desire to give our care providers, guardians, babysitters everything they needed (without coming off like a total tiger Mom) and our daughter the best start possible.  </p>

							<p>Kidfo is a web application where parents can share their kids profile with trusted parties. </p>
                            <button type="button" class="btn btn-ghost btn-square btn-primary waves-effect" data-toggle="modal" data-target="#myFavoriteModal">Join Kidfo
                            </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Galvanize+Boulder+-+Walnut+Street/@40.0165447,-105.2838747,17z/data=!3m1!4b1!4m5!3m4!1s0x876bec26e5bdc177:0xda567bbef95b7d77!8m2!3d40.0165447!4d-105.281686"></iframe>
        <br />
        <small>
            <a href="https://www.google.com/maps/place/Galvanize+Boulder+-+Walnut+Street/@40.0165447,-105.2838747,17z/data=!3m1!4b1!4m5!3m4!1s0x876bec26e5bdc177:0xda567bbef95b7d77!8m2!3d40.0165447!4d-105.281686"></a>
        </small>
        </iframe>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>KIDFO</strong>
                    </h4>
                    <p>1023 Walnut St
                        <br>Boulder, CO 80302</p>
                    <ul class="list-unstyled">
                       
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; KIDFO 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>



	<div class="modal fade" id="myFavoriteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
		    <div class="modal-body">
			  <h4 class="text-center">   JOIN KIDFO   </h4>
			</div>
            <div class="text-center">
                  <%= link_to 'Create Account with Email/Password', new_user_registration_path, :class => 'btn btn-square btn-primary waves-effect' %>
	        </div>
            <br /><br /><br /><br /><br />
	    </div>
	</div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>



