  <div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Edit Family Name/Photo</h1>
  	<%= simple_form_for @family do |family|  %>
  		<%= family.input :name %>
 		<h4>Profile Photo</h4>
    	 <%= family.file_field :avatar %>
    	<br />
			<%= family.submit 'Update', :class=>"btn btn-primary" %>
	<% end %>

</div> 

