<ion-view title="Co-Op" id="page20">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-email-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="coOp-heading18" style="color:#000000;">Don't sit for anyone?</h4>
    <div id="coOp-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Help someone out now, we're all in this together! Invite Families to KIDFO.</p>
    </div>
    <form id="coOp-form13" class="list">
      <label class="item item-input" id="coOp-search4" name="SEARCH">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="SEARCH">
      </label>
    </form>
    <h5 id="coOp-heading9" style="color:#000000;font-weight:400;">FAMILIES</h5>
    <ion-list id="coOp-list25">
      <ion-item class="item-thumbnail-left" id="coOp-list-item25">
        <img src="img/RaJ67dwTbmJ4C5qfvl1A_IMG_6816.jpg">
        <h2>The Eves Family</h2>
        <p>Bryar and Goji</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="coOp-list-item26">
        <img src="img/cWaOTEFvSAi53SNjmOsH_ScreenShot2017-01-12at7.38.39PM.png">
        <h2>The Wilsons</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>