<ion-view title="Create Sit: Sitters" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="createSitSitters-form2" class="list">
      <h5 id="createSitSitters-heading13" style="color:#000000;text-align:center;">REQUEST SITTERS FOR THIS SIT</h5>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <h4 id="createSitSitters-heading1" style="color:#000000;font-weight:300;">SITTERS</h4>
      <ion-checkbox id="createSitSitters-checkbox4">Select All</ion-checkbox>
      <ion-item class="item-avatar item-icon-right" id="createSitSitters-list-item17">
        <img src="img/zG4bODWBQpKi6mG7CFxc_ScreenShot2016-12-06at9.07.47PM.png">
        <h2>Ashley Lomas</h2>
        <i class="icon ion-ios-circle-filled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="createSitSitters-list-item18">
        <img src="img/ughrHA2ZRoil0K8Lr3IR_ScreenShot2016-12-06at9.05.42PM.png">
        <h2>Alexis Greutzmacher</h2>
        <i class="icon ion-ios-circle-outline"></i>
      </ion-item>
      <a ui-sref="tabsController.summary" id="createSitSitters-button19" class="button button-positive  button-block">Next</a>
    </form>
  </ion-content>
</ion-view>