<ion-view title="Create Sit: Details" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="createSitDetails-form6" class="list">
      <label class="item item-input" id="createSitDetails-input7">
        <span class="input-label">From</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="createSitDetails-input8">
        <span class="input-label">To</span>
        <input type="text" placeholder="">
      </label>
      <ion-checkbox id="createSitDetails-checkbox2">Paid?</ion-checkbox>
      <label class="item item-input" id="createSitDetails-textarea3" name="Details">
        <span class="input-label">Details</span><textarea placeholder="Sample sit details."></textarea></label>
      <div class="spacer" style="width: 300px; height: 32px;"></div>
      <h4 id="createSitDetails-heading12" style="color:#000000;font-weight:300;">KIDS</h4>
      <ion-item class="item-avatar item-icon-right" id="createSitDetails-list-item43">
        <img src="img/PQxtDHK0TvKPoLDEmpAg_bryar.jpg">
        <h2>Bryar Louise</h2>
        <i class="icon ion-ios-circle-filled"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="createSitDetails-list-item44">
        <img src="img/3YUpZd6THSDKeiikZuX9_goji.png">
        <h2>Goji Neehow</h2>
        <i class="icon ion-ios-circle-filled"></i>
      </ion-item>
      <a ui-sref="tabsController.createSitSitters" id="createSitDetails-button20" class="button button-positive  button-block">Next</a>
    </form>
  </ion-content>
</ion-view>