<ion-view title="FEED" id="page21">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="fEED-card23">
      <ion-item class="item-avatar" id="fEED-list-item35">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="fEED-list-item-container11">
        <div id="fEED-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="fEED-list-item36">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
      <div class="list card" id="fEED-card24">
        <ion-item class="item-avatar" id="fEED-list-item38">
          <h2>Item</h2>
        </ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="item item-body" id="fEED-list-item-container12">
          <div id="fEED-markdown16" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Some friendly
              <strong>markdown</strong>
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left assertive" id="fEED-list-item39">
          <i class="icon ion-music-note"></i>Play Song</ion-item>
        <div class="list card" id="fEED-card25">
          <ion-item class="item-avatar" id="fEED-list-item40">
            <h2>Item</h2>
          </ion-item>
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
          <div class="item item-body" id="fEED-list-item-container13">
            <div id="fEED-markdown17" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;">Some friendly
                <strong>markdown</strong>
              </p>
            </div>
          </div>
          <ion-item class="item-icon-left assertive" id="fEED-list-item42">
            <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>