<ion-view title="Invites" id="page11">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="invites-form5" class="list">
      <label class="item item-input" id="invites-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <h5 id="invites-heading10" style="color:#000000;font-weight:600;">INVITED (Pending)</h5>
    <ion-list id="invites-list13">
      <ion-item class="item-avatar item-icon-right" id="invites-list-item16">
        <img src="img/QCOh86q9SE2ctb9G91MK_ScreenShot2016-12-06at9.03.16PM.png">
        <h2>Amanda Rose</h2>
        <i class="icon ion-ios-checkmark"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="invites-list-item21">
        <img src="img/wKi1fVGjTuKtVQ6nhV9d_ScreenShot2016-12-05at9.31.47PM.png">
        <h2>Jess Olsen</h2>
        <i class="icon ion-ios-checkmark"></i>
      </ion-item>
    </ion-list>
    <h5 id="invites-heading11" style="color:#000000;font-weight:600;">INVITE</h5>
    <ion-list id="invites-list14">
      <ion-item class="item-avatar item-icon-right" id="invites-list-item22">
        <img src="img/jmYLeM2fTUqGOTrNY66T_ScreenShot2016-12-06at9.05.42PM.png">
        <h2>Alexis Greutzmacher</h2>
        <i class="icon ion-ios-checkmark-outline"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="invites-list-item23">
        <img src="img/zSKaavyjRziqrrBZhAM8_ScreenShot2016-12-06at9.07.47PM.png">
        <h2>Ashley Lomas</h2>
        <i class="icon ion-ios-checkmark-outline"></i>
      </ion-item>
    </ion-list>
    <button id="invites-button9" class="button button-positive  button-block icon ion-ios-arrow-forward"> NEXT</button>
  </ion-content>
</ion-view>