<ion-view title="Kid Favorites" id="page12" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-plus-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div id="kidFavorites-container6">
      <ion-list id="kidFavorites-list15">
        <ion-item class="item-thumbnail-left" id="kidFavorites-list-item24">
          <img src="img/ut33dzdQSkq8sPVRNZWT_bryar.jpg">
          <h2>Bryar Louise</h2>
          <p style="white-space:normal;">July 24, 2016</p>
          <ion-option-button class="button-assertive">+ Favorite</ion-option-button>
        </ion-item>
      </ion-list>
      <button id="kidFavorites-button18" class="button button-positive  button-block">Add Favorite</button>
    </div>
    <div id="kidFavorites-button-bar6" class="button-bar">
      <button id="kidFavorites-button10" style="font-weight:lighter;font-size:10px;" class="button button-positive button-small button-block icon ion-ios-baseball">ACTIVITIES</button>
      <button id="kidFavorites-button11" style="font-weight:lighter;font-size:10px;" class="button button-positive button-small button-block icon ion-ios-book"> BOOKS</button>
      <button id="kidFavorites-button12" style="font-weight:lighter;font-size:10px;border-radius:-4px -4px -4px -4px;" class="button button-positive button-small button-block icon ion-ios-videocam"> MOVIES</button>
    </div>
    <div id="kidFavorites-button-bar7" class="button-bar"></div>
    <ion-list id="kidFavorites-list16">
      <ion-item class="item-divider" id="kidFavorites-list-item-divider11"> ACTIVITIES</ion-item>
      <ion-item class="item-divider" id="kidFavorites-list-item-divider12"> BOOKS</ion-item>
      <ion-item class="item-icon-left" id="kidFavorites-list-item37">
        <i class="icon ion-ios-book-outline"></i>Mr. Poppers Penguins</ion-item>
    </ion-list>
    <div>
      <img src="img/rTWN56C0T1K0z7rKxwXA_mrpopperspenguins.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="kidFavorites-card21">
      <div class="item item-body" id="kidFavorites-list-item-container7">
        <div id="kidFavorites-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Story of adventure!</p>
        </div>
      </div>
      <ion-item class="item-divider" id="kidFavorites-list-item-divider13"> MOVIES</ion-item>
      <div class="list card" id="kidFavorites-card22">
        <ion-item class="item-icon-left" id="kidFavorites-list-item41">
          <i class="icon ion-ios-videocam-outline"></i>Item</ion-item>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="item item-body" id="kidFavorites-list-item-container9">
          <div id="kidFavorites-markdown10" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Some friendly
              <strong>markdown</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>