<ion-view title="KIDFO" id="page2" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-email-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="kIDFO-container3">
      <ion-list id="kIDFO-list4">
        <ion-item class="item-thumbnail-left" id="kIDFO-list-item9" ui-sref="tabsController.profile">
          <img src="img/xgIE1vX4ShiKs9wDo6Er_mattyboy.png">
          <h2>Matt Eves</h2>
          <p style="white-space:normal;">Have fun and savor the moments ...</p>
        </ion-item>
      </ion-list>
    </div>
    <h3 id="kIDFO-heading16" style="color:#000000;text-align:center;">Activity</h3>
    <ion-list id="kIDFO-list18">
      <ion-item class="item-icon-left" id="kIDFO-list-item50">
        <i class="icon ion-ios-checkmark"></i>You've successfully signed up!</ion-item>
    </ion-list>
    <h4 id="kIDFO-heading17" style="color:#000000;">Get Started</h4>
    <div id="kIDFO-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">If you are a parent, get started by adding a kid and their info, you'll end up with KIDFO. </p>

      <p style="color:#000000;">If you are a sitter, you will see notifications for sits here. Feel free to read our ABOUT, or view KIDS you are connected to.</p>
    </div>
  </ion-content>
</ion-view>