<ion-view title="Kid Profile" id="page10" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-share"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="kidProfile-container4">
      <ion-list id="kidProfile-list11">
        <ion-item class="item-thumbnail-left item-icon-right" id="kidProfile-list-item33" ui-sref="tabsController.kidFavorites">
          <img src="img/ut33dzdQSkq8sPVRNZWT_bryar.jpg">
          <h2>Bryar Louise</h2>
          <p style="white-space:normal;">July 24, 2016</p>
          <i class="icon ion-android-favorite"></i>
          <ion-option-button class="button-assertive">+ Favorite</ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div id="kidProfile-button-bar5" class="button-bar">
      <button id="kidProfile-button30" class="button button-positive button-small button-block button-clear">EAT</button>
      <button id="kidProfile-button31" class="button button-positive button-small button-block button-clear">SLEEP</button>
      <button id="kidProfile-button32" class="button button-positive button-small button-block button-clear">NO-NOS</button>
    </div>
    <div id="kidProfile-button-bar4" class="button-bar">
      <button id="kidProfile-button25" style="font-weight:lighter;font-size:11px;" class="button button-positive button-small button-block icon ion-ios-people-outline"> Parents</button>
      <button id="kidProfile-button28" style="font-weight:lighter;font-size:11px;" class="button button-positive button-small button-block icon ion-ios-medical-outline"> Medical</button>
      <button id="kidProfile-button29" style="font-weight:lighter;font-size:11px;border-radius:-4px -4px -4px -4px;" class="button button-positive button-small button-block icon ion-alert"> Emergency Contacts</button>
    </div>
    <ion-list id="kidProfile-list12">
      <ion-item class="item-divider" id="kidProfile-list-item-divider2"> EAT</ion-item>
      <ion-item class="item-divider" id="kidProfile-list-item-divider3"> SLEEP</ion-item>
      <ion-item class="item-divider" id="kidProfile-list-item-divider4"> NO-NOS</ion-item>
      <ion-item class="item-divider" id="kidProfile-list-item-divider5"> PARENTS</ion-item>
      <ion-item class="item-avatar" id="kidProfile-list-item12">
        <img src="img/tw6VR2i1Q0mHUWv4xkbQ_mattyboy.png">
        <h2>Matt Eves</h2>
      </ion-item>
      <ion-item class="item-avatar" id="kidProfile-list-item13">
        <img src="img/m7f6xl2uTWiVAqJgFwqN_whitney.png">
        <h2>Whitney Eves</h2>
      </ion-item>
      <ion-item class="item-divider" id="kidProfile-list-item-divider7"> MEDICAL</ion-item>
      <ion-item class="item-divider" id="kidProfile-list-item-divider6"> EMERGENCY CONTACTS</ion-item>
      <ion-item class="item-icon-left" id="kidProfile-list-item14">
        <i class="icon ion-ios-telephone-outline"></i>Pam Eves
        <span class="item-note">(760)207-1551</span>
      </ion-item>
      <ion-item class="item-icon-left" id="kidProfile-list-item15">
        <i class="icon ion-ios-telephone-outline"></i>Whitney Eves
        <span class="item-note">(805)886-4027</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>