<ion-view title="Kids" id="page9">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-plus-outline"> Kid</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="kids-form4" class="list">
      <label class="item item-input" id="kids-search2" name="SEARCH">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="SEARCH">
      </label>
    </form>
    <h5 id="kids-heading5" style="color:#000000;font-weight:400;">MY KIDS</h5>
    <ion-list id="kids-list9">
      <ion-item class="item-avatar" id="kids-list-item29" ui-sref="tabsController.kidProfile">
        <img src="img/7Df6gSViSatwm7TfDULw_bryar.jpg">
        <h2>Bryar</h2>
        <ion-option-button class="button-balanced">Share</ion-option-button>
        <ion-option-button class="button-assertive">Edit</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar" id="kids-list-item30">
        <img src="img/OU0fVbBIQiCph8lq0rtN_goji.png">
        <h2>Goji</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>