<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page5" style="background-color:#AAD6EE;">
  <ion-content padding="true" style="background: url(img/x0lwYlABQ221KOVITdOB_bkglogin.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form1" class="list center-form">
      <div>
        <img src="img/7n0YQKmXRg2PnjNpNA7g_brand.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input" id="login-input11">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.kIDFO_tab1" id="login-button1" class="button button-positive  button-block">Log in</a>
      <a href-inappbrowser="/signup" id="login-button2" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>