<ion-view title="Network" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-email-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h5 id="network-heading25" style="color:#000000;">Families I Sit For</h5>
    <ion-list id="network-list10">
      <ion-item class="item-thumbnail-left" id="network-list-item32" ui-sref="tabsController.familyProfile">
        <img src="img/Ae7nAhQiqyflql6DVLhA_ScreenShot2017-01-10at7.22.41PM.png">
        <h2>Eves Family Portland</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="network-list-item34">
        <img src="img/CrIjdQsRSDv5AiSjvu2u_ScreenShot2017-01-12at8.53.43PM.png">
        <h2>Eves Family</h2>
      </ion-item>
    </ion-list>
    <h5 id="network-heading26" style="color:#000000;">Sitters</h5>
    <ion-list id="network-list23">
      <ion-item class="item-avatar" id="network-list-item45" ui-sref="tabsController.sitterProfile">
        <img src="img/VW5LQS2RTWy5vVswHcx2_ScreenShot2016-12-05at9.31.47PM.png">
        <h2>Jess Olsen</h2>
      </ion-item>
      <ion-item class="item-avatar" id="network-list-item46">
        <img src="img/afblfaNpRj2hfQecJ23f_ScreenShot2016-12-06at9.05.42PM.png">
        <h2>Alexis Greutzmacher</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>