<ion-view title="Sit Created!" id="page15">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-home-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div>The selected sitters below have been notified of your sit request. Once a sitter accepts, you'll be notified and the sit will show as "Booked" in your profile.</div>
    <form id="sitCreated-form8" class="list">
      <h4 id="sitCreated-heading19" style="color:#000000;font-weight:300;text-align:center;">SELECTED SITTERS</h4>
      <ion-item class="item-avatar" id="sitCreated-list-item52">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="sitCreated-list-item54">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="sitCreated-list-item53">
        <h2>Item</h2>
      </ion-item>
      <a ui-sref="tabsController.kIDFO" id="sitCreated-button26" class="button button-light  button-block">COMPLETE</a>
    </form>
  </ion-content>
</ion-view>