<ion-view title="Sit Details" id="page17">
  <ion-content padding="true" class="has-header">
    <div>The Joens Family
      <br> January 20th: 6-9PM
      <br> PAID
    </div>
    <h5 id="sitDetails-heading24" style="color:#000000;font-weight:400;">KIDS</h5>
    <div class="spacer" style="height: 100px;"></div>
    <div id="sitDetails-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">STATUS: UNBOOKED</p>
    </div>
    <button id="sitDetails-button33" class="button button-balanced  button-block">ACCEPT</button>
    <button id="sitDetails-button34" class="button button-assertive  button-block">DECLINE</button>
  </ion-content>
</ion-view>