<ion-view title="Sits" id="page16">
  <ion-content padding="true" class="has-header">
    <h5 id="sits-heading20" style="color:#000000;font-weight:400;">PENDING SITS</h5>
    <ion-list id="sits-list19">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="sits-list-item61">
        <img src="img/wT3BoQpWTPWcSD7zRl1Q_ScreenShot2016-12-05at8.33.10PM.png">
        <h2assertive>EVES FAMILY
          <p style="white-space:normal;">Jan 10th 5-9PM</p>
          <i class="icon ion-cash"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="sits-list-item62">
        <img src="img/fGSQDyu2TnGghkVMr2pT_ScreenShot2017-01-10at7.22.41PM.png">
        <h2>EVES FAMILY</h2>
        <p style="white-space:normal;">Feb 1 6-9PM</p>
      </ion-item>
    </ion-list>
    <h5 id="sits-heading21" style="color:#000000;font-weight:400;">UPCOMING SITS</h5>
    <ion-list id="sits-list20">
      <ion-item class="item-thumbnail-left" id="sits-list-item58">
        <img src="img/fGSQDyu2TnGghkVMr2pT_ScreenShot2017-01-10at7.22.41PM.png">
        <h2>EVES FAMILY</h2>
        <p style="white-space:normal;">Feb 10 6-9PM</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>