<ion-view title="Sitter Profile" id="page23" style="background-color:#FFFFFF;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="sitterProfile-container8">
      <ion-list id="sitterProfile-list27">
        <ion-item class="item-thumbnail-left" id="sitterProfile-list-item56" ui-sref="tabsController.profile">
          <img src="img/qsiuURfTSpWGwCz7LPkd_ScreenShot2016-12-05at9.31.47PM.png">
          <h2>Jess Olsen</h2>
          <p style="white-space:normal;">Crush it.</p>
        </ion-item>
      </ion-list>
    </div>
    <div id="sitterProfile-button-bar9" class="button-bar"></div>
    <h5 id="sitterProfile-heading28" style="color:#000000;">Sitter Stats</h5>
    <div id="sitterProfile-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jess has watched Bryar 8 times in the last 4 months. </p>
    </div>
    <ion-list id="sitterProfile-list28">
      <ion-item class="item-icon-right" id="sitterProfile-list-item57">(805)888-2737
        <i class="icon ion-ios-telephone-outline"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="sitterProfile-list-item59">Jess.Olsen@gmail.com
        <i class="icon ion-ios-email-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>