<ion-view title="Summary" id="page14">
  <ion-content padding="true" class="has-header">
    <center>The Joens Family
      <br> January 19th from 6pm to 9pm</center>
    <form id="summary-form7" class="list">
      <h4 id="summary-heading14" style="color:#000000;font-weight:300;text-align:center;">KIDS</h4>
      <div class="spacer" style="width: 300px; height: 96px;"></div>
      <h4 id="summary-heading15" style="color:#000000;font-weight:300;text-align:center;">SELECTED SITTERS</h4>
      <div class="spacer" style="width: 300px; height: 186px;"></div>
      <a ui-sref="tabsController.sitCreated" id="summary-button21" class="button button-positive  button-block">CREATE SIT</a>
    </form>
  </ion-content>
</ion-view>